.AboutMe{
    display:flex;
    /* flex-direction:column; */
    padding: 10px;
    align-items: center;
    /* border: 6px solid black; */
    row-gap: 50px;
    width: 80%;
    /* position: relative;
    top: 35px; */
    /* border-radius: 50px; */
    /* background-color: rgb(20, 112, 143); */
    justify-content: space-around;
   
}



img{
    height: 200px;
    width: 200px;
}

.headerForAbout{
    color: rgba(255, 226, 167, 1);
    border-bottom: 3px solid black;
}

.space{
    display:flex;
    flex-direction:column;
    padding: 9px;
    align-items: center;
    border: 6px solid black;
    row-gap: 50px;
    width: 100%;
    position: relative;
    top: 35px;
    border-radius: 50px;
    background-color: rgb(20, 112, 143);
    animation-name: movement;
    animation-duration: 5s;
   
}

.space:hover{
    background-color: burlywood;
}

@keyframes movement {
from{left: -2000px}
to{left: 0px}
}


.github{
 height: 50%;
 width:50%
}

.github:hover{
    background-color:white;
    border-radius: 100%;
}